* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #303030;
  font-family: calibri;
}

.logo {
  height: 90px;
  width: 120px;
  margin: 5px 3px;
  border-radius: 9px #303030;
  background-color: 15px #303030;
}

.promo-area {
  background: #303030;
  color: #f8f8f8;
  padding: 40px 0 40px;
}

.brands-area {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #f8f8f8;
  padding: 20px 0 20px;
}

.promo-area .zigzag-bottom,
.brands-area .zigzag-bottom {
  background: #303030;
}
.single-promo {
  font-size: 25px;
  font-weight: 200;
  padding: 35px 15px;
  margin-top: 80px;
  text-align: center;
}
.single-promo i {
  font-size: 50px;
  color: white;
}

.single-promo i:hover {
  color: black;
}
.single-promo:hover {
  color: black;
  background: white;
}

.promo1 {
  background: #5a88ca;
}
.promo2 {
  background: #ffd900;
}
.promo3 {
  background: #fa8072;
}
.promo4 {
  background: #4abebd;
}
.product-f-image {
  position: relative;
}

.on-sale {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  margin-left: 30px;
  background: #303030;
}
.on-sale img {
  width: 60%;
  height: 42%;
  border-radius: 20px;
  box-shadow: 4px #322e2e;
}

.btn btn-primary {
  float: center;
}
.btn btn-secondary {
  float: right;
}
.col-md-3 {
  margin-bottom: 35px;
}
.sale {
  background-color: #303030;
}
h1,
h2,
h3,
h4,
h5,
i {
  color: white;
}

.new-arrivals img {
  width: 70%;
  height: 58%;
  border-radius: 10px;
  box-shadow: 4px #322e2e;
}
.new-arrivals {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  margin-left: 30px;
  background: #303030;
}
.arrivals {
  background-color: #303030;
}

.btn btn-tertiary {
  color: white;
}

img.details {
  width: 40%;
  height: 100%;
  margin: 10px auto;
}

.xiaomi img {
  width: 60%;
  height: 46%;
  border-radius: 10px;
  box-shadow: 4px #322e2e;
}

.xiaomi {
  margin-right: 30px;
  margin-left: 30px;
  background: #303030;
}

.xiaomipower {
  background: #303030;
}

.xiaomiear {
  background: #303030;
}
.anker img {
  width: 60%;
  height: 46%;
  border-radius: 10px;
  box-shadow: 4px #322e2e;
}

.anker {
  margin-right: 30px;
  margin-left: 30px;
  background: #303030;
}

.ankerpower {
  background: #303030;
}

.samsung {
  margin-right: 30px;
  margin-left: 30px;
  background: #303030;
}

.samsungpower {
  background: #303030;
}
.samsung img {
  width: 60%;
  height: 46%;
  border-radius: 10px;
  box-shadow: 4px #322e2e;
}

.beats img {
  width: 60%;
  height: 46%;
  border-radius: 10px;
  box-shadow: 4px #322e2e;
}

.beats {
  margin-right: 30px;
  margin-left: 30px;
  background: #303030;
}

.beatsear {
  background: #303030;
}

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
  color: #303030;
}

/*
 * Card component
 */
.card {
  color: #3d2d2d;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type="email"],
.form-signin input[type="password"],
.form-signin input[type="text"],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: rgb(104, 145, 162);
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: rgb(12, 97, 33);
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
